header {
    height: 100px;
}

body {
    font-family: "Open Sans", sans-serif;
}

.all {
    background-image: linear-gradient(to right, #2a334ce6, #2f395dda), url(home-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

.nav-wrapper {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-wrapper a,
.side-btn-wrapper a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 600;
}

.nav-btn-wrapper {
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
}

.nav-wrapper h1 {
    font-weight: 500;
    font-size: 30px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
    color: white;
}

.text-wrapper h1 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
}

.text-wrapper p {
    font-weight: 800;
}

.text-wrapper form {
    margin-top: 25px;
}

.input {
    position: relative;
}

.input input {
    height: 3rem;
    width: 25rem;
    border-radius: 28px;
    border: none;
    padding: 20px;
}

.input button {
    height: 3rem;
    border-radius: 28px;
    border: none;
    color: white;
    background-color: #29ca8e;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.slide {
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.slide-wrapper {
    flex-basis: 49%;
    align-self: center;
    padding: 30px;
}

.img-wrapper {
    flex-basis: 40%;
    align-self: center;
}

.slide-wrapper h1 {
    margin-bottom: 50px;
    font-size: 4rem;
    font-weight: 400;
    color: rgb(78, 77, 77);
}

.btn-2-wrapper a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
    font-size: 20px;
}

nav.btn-2-wrapper {
    margin-bottom: 45px;
}

.slide-wrapper h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 25px 0px 25px 0px;
}

.btn-2-wrapper a:hover {
    border-bottom: #29ca8e solid 0.3rem;
}

.team-wrapper,
.price-wrapper,
.contact {
    height: 100vh;
    background-color: #f4f4f4;
}

.all-person {
    display: flex;
    justify-content: center;
    margin: auto;
}

.person-1,
.person-2,
.person-3 {
    width: 25%;
    background-color: white;
}

.team-wrapper h1,
.price-wrapper h1,
.contact h1 {
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}

.price-wrapper i {
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.team-wrapper h2 {
    font-weight: 500;
    margin-bottom: 4px;
}

.team-wrapper h3 {
    font-weight: 100;
    margin-bottom: 4px;
}

.text {
    padding: 20px;
}

.price {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3;
}

.price-1,
.price-2,
.price-3 {
    width: 20%;
    background-color: white;
    padding: 20px;
    margin-right: 10px;
}

.price-1 hr,
.price-2 hr,
.price-3 hr {
    width: 90%;
}

.price-1 li,
.price-2 li,
.price-3 li {
    list-style: none;
}

.price-1 h2,
.price-2 h2,
.price-3 h2 {
    font-weight: 300;
    font-size: 2rem;
}

.price-1 h3,
.price-2 h3,
.price-3 h3 {
    font-weight: 200;
    font-size: 1.5rem;
    width: 43%;
    display: inline-block;
}

.price-1 button,
.price-2 button,
.price-3 button {
    background-color: #29ca8e;
    border: none;
    color: white;
    border-radius: 34px;
    width: 50%;
    display: inline-block;
    cursor: pointer;
}

.contact {
    height: 100vh;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
    background-color: white;
    line-height: 4;
}

.form input,
textarea {
    border: none;
    border-bottom: 2px solid;
    width: 100%;
}

.form a {
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 38px;
}

.foot {
    height: 7vh;
    text-align: center;
}

.side-btn-wrapper a {
    display: block;
    line-height: 2;
}

i.fa-solid.fa-2x.fa-bars {
    position: relative;
    display: none;
}

.side-btn-wrapper {
    position: absolute;
    right: 3%;
    display: none;
    background-color: #3a4155;
}

.arrow-1,
.arrow-2,
.arrow-3 {
    position: relative;
}

i.fa-solid.fa-arrow-down.fa-beat {
    position: absolute;
    bottom: 0;
    right: 50%;
}

i.fa-solid.fa-arrow-up.fa-2x.fa-beat {
    position: absolute;
    right: 50%;
}

@media (min-width: 373px) and (max-width: 768px) {
    #para-1 {
        display: none;
    }

    .nav-btn-wrapper {
        display: none;
    }

    i.fa-solid.fa-2x.fa-bars {
        display: block;
    }

    .slide {
        height: 100%;
        display: block;
    }

    .person-1,
    .person-2,
    .person-3 {
        width: 100%;
    }

    .arrow-1 img,
    .arrow-2 img,
    .arrow-3 img {
        margin: auto;
    }

    .all-person {
        display: block;

    }

    .price {
        display: block;
        height: 100%;
    }

    .price-1,
    .price-2,
    .price-3 {
        width: 100%;
    }

    .team-wrapper,
    .price-wrapper,
    .contact {
        height: 100%;
    }

    .foot {
        height: 100%;
    }


}

@media (min-width: 768px) and (max-width: 992px) {
    #para-1 {
        display: none;
    }

    .nav-btn-wrapper {
        display: none;
    }

    i.fa-solid.fa-2x.fa-bars {
        display: block;
    }

    .person-1,
    .person-2,
    .person-3 {
        width: 100%;
    }

    .price-1,
    .price-2,
    .price-3 {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1350px) {

    .price-1,
    .price-2,
    .price-3 {
        width: 50%;
    }

    .nav-btn-wrapper {
        flex-basis: 45%;
    }
}